<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Knot Transaction Demo</title>
</head>
<body>
  <h1>Welcome to the Knot Transaction Demo</h1>
  <p>Environment: <%= env.NODE_ENV %></p>
  <p>Client ID: <%= env.KNOT_CLIENT_ID %></p>
  <ul>
    <li><a href="/init-sdk">Initialize &amp; Open Knot SDK</a></li>
    <li><a href="/transactions">View Transactions</a></li>
  </ul>
</body>
</html>
